<html>
  <head>
    <title>{% block title %}Photo Gallery{% endblock %}{% block subtitle %}{% endblock %}</title>
  </head>
  <body>
    {% block actions %}
    <div>
    {% if user.is_authenticated %}
    Hi,{{user}}.</div>
    <div>
    <a href={%url 'see-photos'%}>See Photos</a> |
    <a href={%url 'upload'%}>Upload photos</a> |
    {% if perms.gallery.approve_photo %}<a href={%url 'approve'%}>Approve photos</a> | {% endif %}
    <a href={%url 'logout'%}>Logout</a>
    {% else %}
    <a href={% url 'signup' %}>Sign-up</a> |
    <a href={%url 'login'%}>Login</a>
    {% endif %}
    </div>
    {% endblock %}
    
    {% block content %}
    {% endblock %}

    {% block body_end_scripts %}
    {% endblock %}
  </body>
</html>

