{% extends 'base.html' %}
{% block content %}
    <h1>All photos</h1>

    Sort by
    <a href='?sort=likes' {% if sort == 'like' %}disabled{% endif %}>most liked</a> |
    <a href='?sort=date' {% if sort == 'date' %}disabled{% endif %}>most recent</a>
    
    {% for p in photos %}
      <form>
        <div><img style="border:1px solid gray;height:200px;width:300px;" id="{{p.s3url}}" src="{{p.s3url}}"></div>
        <p>{{p.label}}</p>
        <input type='submit'
          {% if p.liked %} 
          value='Dislike'
          formaction={% url 'dislike' %}
          {% else %}
          value='Like'
          formaction={% url 'like' %}
          {% endif %}>
        <span>{{p.like_set.count}}</span>
        <input type='hidden' name='sort' value='{{sort}}'>
        <input type='hidden' name='photo-id' value='{{p.id}}'>
      </form>
    {% endfor %}
    
{% endblock %}
